.tw-followCard {
    align-items: center;
    background-color: #3a2f2f;
    color: #fff;
    display: flex;
    font-size: .8rem;
    justify-content: space-between;
    padding: .25rem;
}

.tw-followCard-header {
    align-items: center;
    display: flex;
    margin-right: 1rem;
    gap: 4px
}

.tw-followCard-info {
    display: flex;
    flex-direction: column;
}

.tw-followCard-infoUserName {
    opacity: .6;
}

.tw-followCard-avatar {
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
}

.tw-followCard-button {
    border: 0;
    border: 1px solid #000;
    border-radius: 2rem;
    cursor: pointer;
    font-size: .5rem;
    font-weight: bold;
    height: 2rem;
    transition: .3s ease background-color;
    width: 6rem;
}

.tw-followCard-button:hover {
    opacity: .8;
}

.tw-followCard-text {
    display: block;
}

.is-following {
    background: transparent;
    border: 1px solid #bbb;
    border-radius: 2rem;
    color: #fff;
    font-size: .5rem;
    height: 2rem;
    width: 6rem;
}

.is-following:hover {
    border: 1px solid red;
    color: red;
    cursor: pointer;
    opacity: 1;
    transition: .5s ease all;
}

.tw-followCard-button .is-following:hover .tw-followCard-text {
    display: none;
}

.tw-followCard-button .is-following:hover .tw-followCard-stopFollow {
    display: block;
}

.tw-followCard-stopFollow {
    display: none;
}